@model TrabajadoresPrueba.Entidades.Trabajadores

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="TipoDocumento" class="control-label"></label>
                    </div>

                    <div class="col-md-9">
                        <select required asp-for="TipoDocumento" asp-items="ViewBag.codigo" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="NroDocumento" class="control-label"></label>
                    </div>
                    <div class="col-md-9">
                        <input required asp-for="NroDocumento" class="form-control" />
                        <span asp-validation-for="NroDocumento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="Nombres" class="control-label"></label>
                    </div>
                    <div class="col-md-9">

                        <input required asp-for="Nombres" class="form-control" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="Sexo" class="control-label"></label>
                    </div>
                    <div class="col-md-4">

                        <div class="form-check">
                            <input asp-for="Sexo" class="form-check-input" type="radio" name="Sexo" id="exampleRadios1" value="M" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Masculino
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-check">
                            <input asp-for="Sexo" class="form-check-input" type="radio" name="Sexo" id="exampleRadios2" value="F">
                            <label class="form-check-label" for="exampleRadios2">
                                Femenino
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="IdDepartamento" class="control-label"></label>
                    </div>
                    <div class="col-md-9">

                        <select required asp-for="IdDepartamento" asp-items="ViewBag.Departamentos" id="DepartamentoEdit" onchange="SeleccionaDepartamento()" class="form-control"></select>
                        <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="IdProvincia" class="control-label"></label>
                    </div>
                    <div class="col-md-9">

                        <select required asp-for="IdProvincia" asp-items="ViewBag.Provincias" id="ProvinciaEdit" onchange="SeleccionaProvincia()" class="form-control"></select>
                        <span asp-validation-for="IdProvincia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="IdDistrito" class="control-label"></label>
                    </div>
                    <div class="col-md-9">

                        <select required asp-for="IdDistrito" asp-items="ViewBag.Distritos" id="DistritosEdit" class="form-control"></select>
                        <span asp-validation-for="IdDistrito" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success btn-sm btn-block" />
            </div>
        </form>
    </div>
</div>

<script>

    function SeleccionaDepartamento() {
        debugger
        var departamento = $("#DepartamentoEdit").val();
        $("#ProvinciaEdit").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("listaProvincias", "Trabajadores")',
            dataType: 'json',
             data: { idDepartamento: departamento },
             success: function (data) {

                 $.each(data, function (i, data) {
                     $("#ProvinciaEdit").append('<option value="'
                         + data.id + '">'
                         + data.nombreProvincia + '</option>');
                 });

            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
         });
    }

    function SeleccionaProvincia() {
        var provincia = $("#ProvinciaEdit").val();
        $("#DistritosEdit").empty();
         $.ajax({
            type: 'POST',
            url: '@Url.Action("listaDistritos", "Trabajadores")',
            dataType: 'json',
             data: { idProvincia: provincia },
             success: function (data) {
                 $.each(data, function (i, data) {
                     $("#DistritosEdit").append('<option value="'
                         + data.id + '">'
                         + data.nombreDistrito + '</option>');
                 });

            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
         });
    }
</script>